body {
    counter-reset: slides;                     /* Set a counter named 'section', and its initial value is 0. */
    background-color: #eaeaea;
}

body.uk-offcanvas-container .sidenav{
    left: auto;
}

.uk-offcanvas-reveal{
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body.uk-offcanvas-container .sidenav .hamburger-btn span:nth-of-type(1) {
    transform: rotate(45deg);
    transform-origin: 15%;
}
body.uk-offcanvas-container .sidenav .hamburger-btn span:nth-of-type(2) {
    background: transparent;
}
body.uk-offcanvas-container .sidenav .hamburger-btn span:nth-of-type(3) {
    transform: rotate(-45deg);
    transform-origin: 10%;
}

p .uk-label-danger {
    margin-bottom: 5px;
}

.sidenav {
    height: 100%;
    width: 96px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding: 1rem;
    border-right: 1px solid #ddd;
    border-bottom: none;
    text-align: center;
    transition: all .3s ease-in-out;
}

.sidenav a {
    color: #000;
    display: block;
}

.sidenav .hamburger-btn {
    width: 36px;
    height: 22px;
    align-items: center;
    margin: 0 auto;
}
.sidenav .hamburger-btn:hover {
    cursor: pointer;
}
.sidenav .hamburger-btn:hover span:nth-of-type(1),
.sidenav .hamburger-btn:hover span:nth-of-type(3) {
    width: 22px;
}

.sidenav .hamburger-btn span {
    display: block;
    margin: 0;
    padding: 0;
    width: 36px;
    height: 2px;
    background: #000;
    transition: all .3s ease-in-out;
}

.sidenav .logo a {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    transform: rotate(-90deg);
    font-weight: 800;
    transform-origin: 45% 110%;
    width: 162px;
    color: #96281b;
    transition: all .3s ease-in-out;
}

.sidenav .logo a small {
    color: #000;
    transition: all .3s ease-in-out;
}

.sidenav .logo a:hover,
.sidenav .logo a:hover small {
    text-decoration: none;
    color: black;
}

.sidenav .fas {
    -webkit-text-stroke: 1px white;
}

.sidenav .fa-check {
    font-size: 1rem;
    vertical-align: super;
}

.sidenav .search {
    font-size: 1.6rem;
}

.sidenav .search a{
    padding: 1rem 0px;
}

.sidenav .search .fa-search{
    transition: all .3s ease-in-out;
    width: 25px;
    height: 25px;
}

.sidenav .search a:hover .fa-search{
    transform: rotate(90deg);
}

.main {
    margin-left: 96px; /* Same as the width of the sidenav */
    padding: 0px 5rem;
}

section {
    padding: 5rem 0px;
}
section + section {
    padding-top: 5rem;
}

.main .uk-slideshow-viewport {
    height: calc(100vh - 10rem);
}

.main .uk-slideshow-nav {
    position: absolute;
    bottom: 3rem;
}

.uk-dotnav>* {
    padding-left: 0px;
}

.uk-dotnav li + li {
    padding-left: 12px;
}

.uk-dotnav li:before {
    counter-increment: slides;
    content: counters(slides, ".", decimal-leading-zero);
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.8rem;
    display: block;
    text-align: center;
    padding-bottom: 10px;
    font-weight: bold;
}

.uk-dotnav li.uk-active:before {
    color: rgb(234, 234, 234);
}

.uk-dotnav li:hover {
    cursor: pointer;
}

.uk-dotnav>*>* {
    display: block;
    box-sizing: border-box;
    width: 30px;
    height: auto;
    border-radius: 0%;
    background: 0 0;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    border: transparent;
    transition: .2s ease-in-out;
    transition-property: background-color,border-color;
}

.uk-dotnav>.uk-active>* {
    background-color: rgba(102,102,102,.6);
    border: 1px solid #96281b;
}

.scroll-info span .fas{
    padding-left: 20px;
}

.uk-section-overlap-to-top {
    margin-top: -10%;
}

.uk-section-overlap-top-right {
    position: absolute;
    top: 10%;
    right: -10.3%;
}

.uk-divider-small.colored::after {
    border-top: 2px solid #96281b;
}

.img-bg {
    margin-left: 96px;
}

.uk-form-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.uk-form-text:hover {
    text-decoration: none;
}

.uk-form-text:not(a):not(button):not(input) {
    pointer-events: none
}

.uk-form-text:not(.uk-form-text-flip)~.uk-input {
    padding-left: 40px!important
}

.uk-form-text-flip {
    right: 0;
    left: auto
}

.uk-form-text-flip~.uk-input {
    padding-right: 40px!important
}

.footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer-sub {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.settings {
    width: 20%;
    height: 100vh;
}

.settings-data {
    height: 100%;
}

.uk-slideshow-items .uk-button.uk-button-danger,
.uk-slideshow-items .uk-overlay {
    background-color: white;
}

.uk-button.uk-button-danger {
    background-color: transparent;
    border: 2px solid #96281b;
    color: #96281b;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

.uk-button.uk-button-danger:hover {
    background-color: #96281b;
    border: 2px solid #96281b;
    color: white;
}

.uk-divider-icon {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Ccircle%20fill%3D%22none%22%20stroke%3D%22%23d4d4d4%22%20stroke-width%3D%222%22%20cx%3D%2210%22%20cy%3D%2210%22%20r%3D%227%22%20%2F%3E%0A%3C%2Fsvg%3E%0A");
}
.uk-divider-icon::after, .uk-divider-icon::before {
    border-bottom: 1px solid #d4d4d4;
}

.uk-divider-icon::after, .uk-divider-icon::before {
    border-bottom: 1px solid #d4d4d4;
}

.uk-grid-divider>:not(.uk-first-column)::before {
    border-left: 1px solid #d4d4d4;
}

.breadcrumb {
    padding: 10px 15px;
    background-color: #ffffff;
    border-radius: 0px;
}
.breadcrumb li:first-child {
    font-size: 1.5rem;
    vertical-align: sub;
}
.breadcrumb > li + li:before {
    color: #333;
}

.uk-link, a {
    color: #000000;
}
.uk-link, a:hover {
    color: #96281b;
    text-decoration: none;
}
.breadcrumb > .active {
    color: #96281b;
    font-weight: bold;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    -webkit-transform: translate3d(0, -50px, 0);
    -ms-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);

    -webkit-transition: -webkit-transform .5s ease-out;
    -ms-transition: -webkit-transform .5s ease-out;
    transition: transform .5s ease-out;
}

.pace.pace-active {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.pace .pace-progress {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 10px;
    background: #96281b;

    pointer-events: none;
}

.uk-offcanvas-reveal .uk-nav-sub ul {
    padding-left: 15px;
}

.cart-block {
    position: absolute;
    top: 0;
    right: 2rem;
    padding: 15px 30px;
    background: white;
    border: 1px solid #dddddd;
    border-top: none;
}